.classpath
.project
.settings/
target/
felix-cache/
build/logs/
logs/
.externalToolBuilders/
maven-eclipse.xml
*.iml
*.ipr
*.bak
*.iws
.idea
*.class
*.eml
*.log
*.userlibraries
*overlays/
out/
*.out
test-output/
.DS_Store
web/src/main/webapp/emulator/.fuse*
.ant-targets-build.xml
commits-master
commits-release
