<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <logger name="org.motechproject.whp.ivr">
        <level value="info"/>
    </logger>

    <logger name="org.motechproject.server.decisiontree">
        <level value="debug"/>
    </logger>

    <logger name="org.springframework">
        <level value="warn"/>
    </logger>
    <logger name="org.springframework.jms.listener">
        <level value="fatal"/>
    </logger>
    <logger name="org.ektorp">
        <level value="warn"/>
    </logger>
    <logger name="org.motechproject">
        <level value="info"/>
    </logger>

    <logger name="org.motechproject.provider.registration.service">
        <level value="info"/>
    </logger>

    <logger name="org.motechproject.casexml.service">
        <level value="info"/>
    </logger>

    <logger name="importer">
        <level value="all"/>
    </logger>

    <root>
        <priority value="warn"/>
    </root>

</log4j:configuration>
