<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="production" class="org.apache.log4j.RollingFileAppender">
        <param value="${catalina.home}/logs/whp.log" name="File"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="4096KB"/>
        <param name="maxBackupIndex" value="5"/>
        <param name="immediateFlush" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{ISO8601}] [%c] [%p] [ThreadId:%t] - %m%n"/>
        </layout>
    </appender>
    <appender name="integration" class="org.apache.log4j.RollingFileAppender">
        <param value="${catalina.home}/logs/whp-integration.log" name="File"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="4096KB"/>
        <param name="maxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{ISO8601}] - %m%n"/>
        </layout>
    </appender>
    <appender name="production-console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{ISO8601}] [%c] [%p] [ThreadId:%t] - %m%n"/>
        </layout>
    </appender>
    <appender name="integration-console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{ISO8601}] - %m%n"/>
        </layout>
    </appender>

    <logger name="org.springframework">
        <level value="warn"/>
    </logger>
    <logger name="org.springframework.jms.listener">
        <level value="fatal"/>
    </logger>
    <logger name="org.ektorp">
        <level value="warn"/>
    </logger>
    <logger name="org.motechproject">
        <level value="info"/>
    </logger>

    <logger name="org.motechproject.provider.registration.service">
        <level value="info"/>
        <appender-ref ref="integration"/>
        <appender-ref ref="integration-console"/>
    </logger>

    <root>
        <priority value="warn"/>
        <appender-ref ref="production"/>
        <appender-ref ref="production-console"/>
    </root>
</log4j:configuration>
