body {
    margin-top: 20px;
}

#mainContent {
    margin-top: 20px;
}

#footer {
    padding-right: 20px;
    padding-top: 15px;
    padding-left: 60px;

    border-top: 1px ridge;
    background: #FAFADE;
}

#whp-logo{
    height: 35px;
}

#motech-logo {
    height: 38px
}

#navibar{
    padding-top: 5px;
}

.well.small-well{
    padding: 0px;
    margin-bottom: 5px;
    color: #54555a;
}

#whp-logo {
    margin-right: 0px;
}

#footer-left-section {
    padding-bottom: 5px;
}

.login-btn {
    width: 100px;
}

.white {
    background-color: white;
}

.text-center {
    text-align: center;
}

#version {
    color: #555555;
    font-size: 0.8em;
}
