body {
    margin-top: 20px;
}

#mainContent {
    margin-top: 20px;
}

#logo {
    padding-right: 0px;
    padding-bottom: 15px;
    margin-bottom: 5px;
    padding-left: 0px;
    border-bottom: 1px inset;
}

#whp-logo {
    margin-right: 0px;
}

.login-btn {
    width: 100px;
}

.white {
    background-color: white;
}

.text-center {
    text-align: center;
}
