html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

#navibar {
    position: static;
    left: 0;
    top: 0;
}

#mainContent {
    margin-top: 20px;
    margin-bottom: 70px;
    padding-bottom: 25px;
    height: 100%;
}

#bodyContent {
    margin-top: 20px;
    margin-bottom: 70px;
}

#footerContent {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

#footer {
    padding-right: 20px;
    padding-top: 15px;
    padding-left: 60px;

    border-top: 1px ridge;
    background: #FAFADE;
}

#whp-logo {
    height: 35px;
}

#motech-logo {
    height: 38px
}

#navibar {
    padding-top: 5px;
}

.well.small-well {
    padding: 0px;
    margin-bottom: 5px;
    color: #54555a;
}

#whp-logo {
    margin-right: 0px;
}

#footer-left-section {
    padding-bottom: 5px;
}

.login-btn {
    width: 100px;
}

.white {
    background-color: white;
}

table tr td.text-center, .text-center, .text-center th, .text-center td {
    text-align: center;
    vertical-align: middle;
}


#version {
    color: #555555;
    font-size: 0.8em;
}

.page-header.form-header {
    padding-bottom: 0px;
}

.paused {
    background-color: #FFB6C1;
    color: black;
}

.label-legend {
    background-color: #3A87AD;
    vertical-align: middle;
}

.table tbody tr:hover td {
    background-color: #E3F5FA;
    color: black;
}

table tbody .link:hover td:not(.row-click-exclude), .hover {
    color: #369BD7;
    text-decoration: underline;
}

#numberSelect {
    text-align: center;
}

.disable-remarks {
    resize: none;
}

#weeklyAdherenceForm label {
    text-align: left;
    margin-left: 20px;
}

#legend-container {
    display: inline-block;
    overflow: auto;
}

.sharp, .sharp td, .sharp th {
    border-color: #000000;
}

.fixed th, .fixed td {
    width: 13px;
    text-align: center;
}

.fixed td:not(.sunday) div {
    width: 15px;
}


.fixed td {
    text-align: center;
}

.tick-icon {
    font-weight: normal;
    font-size: 175%;
}

.round-icon {
    font-weight: bold;
    font-size: 140%;
}

.legend-round-icon {
    font-weight: bold;
    font-size: 130%;
}

#treatmentCard table .round-icon:not(.sunday) div {
    margin-left: 0px;
    line-height: 22px;
}

#treatmentCard table .round-icon div {
    margin-left: 0px;
}

#treatmentCard table .tick-icon:not(.sunday) div {
    line-height: 23px;
}

#treatmentCard table .tick-icon div {
    margin-left: -2px;
}

#treatmentCard table .dash-icon {
    font-family: Arial;
    font-size: 200%;
    line-height: 17px;
}

.disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.link, .editable {
    cursor: pointer;
}

.watermarked-sunday {
    color: black;
    font-weight: bold;
    cursor: default;
}

.table-bordered .sunday {
    border-left: 3px black solid;
    border-right: 3px black solid;
    border-bottom: 3px black solid;
    border-top: 3px black solid;
    width: 9px;
    height: 9px;

}

.bg-gray {
    background: url('../img/grey-dot.png') repeat 0 0;
}

.pausedAdherenceData {
    background-color: lightPink;
}
.printable-version .pausedAdherenceData {
    background-color: transparent;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.warning {
    color: #b22222;
    font-weight: bold;
}

.select-xlarge {
    width: 280px;
}

.field-error, .field-error label {
    color: #bd4247;
    font-weight: bold;
}

.black {
    color: #000000;
    font-weight: bold;
}

.alert-info {
    background-color: #EDEBBF;
    border-color: #E0D6AA;
    color: #817B02;
    font-weight: bold;
}

.leftnav-menu-margin {
    margin-left: -200px;
}

div.buttons a, div.buttons button {
    float: right;
    margin-left: 20px;
}

.offset2-fixed {
    margin: auto;
    width: 679px;
    max-width: 679px;
}

.offset1-fixed {
    margin: auto;
    width: 757px;
    max-width: 757px;
}

.ui-combobox {
    position: relative;
    display: inline-block;
}

.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* adjust styles for IE 6/7 */
    *height: 1.7em;
    *top: 0.1em;
}

.ui-combobox-input {
    margin: 0;
    padding: 0.3em;
    float: left;
}

.ui-menu {
    overflow: auto;
    max-height: 130px;
}

.ui-button {
    height: 25px;
}

.patient-info, .patient-info div {
    overflow: hidden;
}

.default-arrow, .default-arrow td, .default-arrow th {
    cursor: default;
}

.word-wrap, .word-wrap tr, .word-wrap th, .word-wrap td {
    word-wrap: break-word;
}

.controls a {
    margin-right: 10px;
}

#search-pane {
    overflow: hidden;
    height: 50px;
}

.search-section-header {
    z-index: 1;
    font-size: 1.3em;
}

.results {
    margin-top: 10px;
}

.patient-info-left-pane {
    width: 430px;
}

.patient-info-right-pane {
    width: 470px;
}

#patientList th, #providerList th, #cmfAdminList th, #smearTestDetails, #sampleInstance, #weight, #patientDetails, #providerDetails, #treatmentDetails {
    background-color: #43A1DA;
    color: white;
}

#patientList td[class~=adherenceCaptured] {
    text-align: center;
    color: #3C7526;
    font-size: 18px;
}

#patientList tr[class~=paused] td {
    background-color: lightPink;
}

#patientList td[class~=adherenceNotCaptured] {
    text-align: center;
    color: #C7250C;
    font-size: 18px;
}

.activate-link:hover, .activate-link {
    color: green;
}

.activate-provider-username {
    color: #369BD7;
    font-weight: bold;
}

#patientRemark {
    width: 80%;
}

.user-name {
    display: inline-block;
    color: #369BD7;
    font-weight: bold;
}
.name {
 text-transform: capitalize;
}

.one-line {
    white-space: nowrap;
}

.tc-label {
    font-weight: bold;
}
.tc-label, .tc-value {
    display: inline;

}

.tc-label:after {
    content: ":";
}

.tc-value {
    margin-left: 3px;
}
#treatmentCard td{
    overflow: hidden;
    height: 15px;
    padding-left: 6px;
    padding-bottom: 2px;
    padding-top: 3px;
    text-align: center;
}
#treatmentCard .sunday {
    padding-left: 4px;
    min-width: 12px;
    max-width: 12px;
}
#treatmentCard .sunday div {
    height: 18px;
    line-height: 18px;
}
#treatmentCard .sunday.dash-icon div {
    line-height: 13px;
}

.line-height-normal td {
    line-height: 18px;
}
.print-version-text,
.print-version-text td,
.print-version-text label,
.print-version-text div,
.tc-value,
.tc-label {
    font-size: 14px;
}
.print-version-line-height
.print-version-line-height label,
.print-version-line-height div,
.tc-value,
.tc-label {
    line-height: 28px;
}

.print-version-line-height table td
.print-version-line-height table th
.print-version-line-height table label,
.print-version-line-height table div
{
    line-height: inherit;
}

.printable-version, .printable-version label, .printable-version h3, .printable-version h4 {
    color: #000000;
    border-color: #000000;

}

.tc-div {
    width:420px;
    display: inline;
    float:left;
}
.title {
    font-weight: bold;
    text-align: center;
}
.left-spaced {
    margin-left: 5px;
}
.width-60px {
   padding: 60px;
}
.x-ray {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom:70px;
    height: 80px;
    border: 1px solid #000000;
    width: 40%;
    display: inline-block;
    float: left;
}
.x-ray-and-remarks {
    height: 175px;
}
.overflow-hidden {
    overflow: hidden;
}
.actions-for-missed-doses {
    width: 60%;
    display: inline-block;
}
.actions-for-missed-doses table {
    width: 90%;
}
.chemoprophylaxis {
    width: 30%;
    display: inline-block;
}
.chemoprophylaxis table {
    width: 100%;
}
.additional-treatments {
    width: 70%;
    display: inline-block;
    border: 1px solid #000000;
    padding-left: 5px;
}
.empty-bordered {
    border: 1px solid #000000;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-bottom: -2px;
}
.width-30px {
    padding: 30px;
}
.page-break{
    page-break-before: always;
}
#treatmentCard .drugs td{
    padding: 2px 6px;
}
.pause-details table {
    width: 25%;
}
.inherit-font {
    font-family: inherit;
}
.provider-details table {
    width: 40%;
}
.relative-size {
    overflow: auto;
}
.auto-size {
    width: auto;
    height: auto;
}
.uppercase {
    text-transform: uppercase;
}
.printable-version h3 {
    font-family: inherit;
}
.bordered {
    border: 1px solid black;
}
.bold {
    font-weight: bold;
}
.inline {
    display: inline;
}
.no-wrap {
    white-space: nowrap;
}
.no-padding, table tr .no-padding {
    padding: 0px;
}
.table-condensed-padding {
    padding: 4px 5px;
}
.ui-selected {
 background: blue;
}
.inherit-color {
    color: inherit;
}
.reset-password, .reset-password:hover {
    color: #d2691e;
}

.line {
    height: 3px;
    background-color: #add8e6;
    margin: 1px;
}
.underline {
    text-decoration: underline;
}
pre {
    display: inline;
    border: none;
    background-color: inherit;
    padding: 0px;
}
.border-bottom {
    border-bottom: 1px #add8e6 solid;
}
.result-count {
    margin-top: -34px;
}
.pull-down {
    margin-top: 20px;
}
.pull-down-5px {
    margin-top: 5px;
}
.padding-left {
    padding-left: 5px;
}

.page-link {
    text-decoration: underline;
}
.page-link-disabled {
    text-decoration: underline;
    display: inline;
    color: #808080;
}
.current-page-info {
   display: inline-block;
}

.current-page {
    width: 30px;
    height: 15px;
}
.goto-page {
    padding-left: 10px;
    color: chocolate;
    display: inline-block;
}
.result-count-info {
    line-height: 33px;
}

#container-registration-form label.error {
    color: red;
}

#container-registration-form .span.error {
    border: 2px solid red;
}

#container-registration-form #instance.error {
    border: 2px solid red;
}


