body {
    margin-top: 20px;
}

#mainContent {
    margin-top: 20px;
    margin-bottom: 70px;
}

#footer {
    padding-right: 20px;
    padding-top: 15px;
    padding-left: 60px;

    border-top: 1px ridge;
    background: #FAFADE;
}

#whp-logo {
    height: 35px;
}

#motech-logo {
    height: 38px
}

#navibar {
    padding-top: 5px;
}

.well.small-well {
    padding: 0px;
    margin-bottom: 5px;
    color: #54555a;
}

#whp-logo {
    margin-right: 0px;
}

#footer-left-section {
    padding-bottom: 5px;
}

.login-btn {
    width: 100px;
}

.white {
    background-color: white;
}

.text-center {
    text-align: center;
}

#version {
    color: #555555;
    font-size: 0.8em;
}

.page-header.form-header {
    padding-bottom: 0px;
}

.paused {
    background-color: #FFB6C1;
    color: black;
}

.label-legend {
    background-color: #3A87AD;
    vertical-align: center;
}

.table tbody tr:hover td {
    background-color: #E3F5FA;
    color: black;
}

#numberSelect {
    text-align: center;
}

#remarks {
    height: 100px;
}

.disable-remarks {
    resize: none;
}

#weeklyAdherenceForm label {
    text-align: left;
    margin-left: 20px;
}

#legend-container{
    display: inline-block;
    overflow: auto;
}

.sharp, .sharp td, .sharp th {
    border-color: #000000;
}

.fixed th, .fixed td {
    width: 15px;
    text-align: center;
}

.tick-icon{
    display: inline-block;
    width: 14px;
    height: 14px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/glyphicons-halflings.png");
    background-position: -282px 5px;
    background-repeat: no-repeat;
}
.cross-icon{
    display: inline-block;
    width: 14px;
    height: 14px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/glyphicons-halflings.png");
    background-position: -305px 5px;
    background-repeat: no-repeat;
}
.round-icon{
    display: inline-block;
    width: 14px;
    height: 14px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-repeat: no-repeat;
}
.sunday div {
    border: 3px coral groove;
    width: 22px;
    height: 22px;
    margin-left: -6px;
    margin-top: -5px;
    padding: 0px;
    margin-bottom: -5px;
    margin-right: -6px;
}

.bg-gray{
    background-color: #cccccc;
}
